@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
	font-family: 'Roboto Slab', sans-serif;
	background: #d3d3d3;
	text-align: center;
}

.title{
	padding-top: 20px;
	text-align: center;
	font-size: 36px;
	color: #fff;
}

.question{
	padding: 20px;
	font-size: 22px;
	background: #d3d3d3;
	border-radius: 20px;
	margin: 10px 0 10px 0;
	color: #fff;
}

.next-btn{
	border: none;
	outline: none;
	background: rgba(255, 255, 255, 0.5);
	width: 100px;
	height: 35px;
	border-radius: 20px;
	cursor: pointer;
	float: center;
	margin: 10px;
}

input {
    border: 0;
    outline: 0;
    background: transparent;
    color: #fff;
    border-bottom: 2px solid #fff;
    width: 200px;
    text-align: center;
}